parameters:
    level: 8
    paths:
    - src
    - tests
    ignoreErrors:
    -
        message: "#^Parameter \\#1 \\$kernel of class Symfony\\\\Component\\\\HttpKernel\\\\DependencyInjection\\\\AddAnnotatedClassesToCachePass constructor expects Symfony\\\\Component\\\\HttpKernel\\\\Kernel, EFrane\\\\PharBuilder\\\\Application\\\\PharKernelInterface given\\.$#"
        count: 1
        path: src/Application/PharContainerBuilder.php
